@import "../utilities/variables";

.logo-section {
  display: flex;
  justify-content: space-between;
  max-width: 80rem;
  // border: 1px solid black;
  margin: 3rem auto;
  padding: 0 1rem;

  .logo-socials {
    display: flex;
    padding: .5rem 1rem;
    border: 1px solid $color-font;
    border-radius: 2rem;
    align-items: center;
    gap:.5rem;
    font-weight: bold;
    margin: 0 auto;

    p {
      font-size: 1rem;
      color: $color-font;
      padding-right: .5rem;
    }

    .social-icons {
      height: 1.5rem;
      width: 1.5rem;
      padding: .2rem;
      border: 1px solid $color-font;
      border-radius: 50%;
      cursor: pointer;
    }

    .social-icons:hover {
      color: $color-secondary;
    }
  }

  .logo-companies {
    // border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    width: 70%;

    img {
      width: 9rem;
    }
  }
}


@media (max-width: 1000px) {
  .logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;


    .logo-companies {
      padding-top: 1rem;
      width: 100%;
      flex-wrap: wrap;

      .company-icons {
        width: 5rems;
      }
    }
  }
}