// FONTS

$font-primary: 'DM Sans', sans-serif;
$font-size: 10px;

// COLORS

$color-primary: #101010;
$color-secondary: #2986FE;
$color-tertiary: #F9F9FB;
$color-font: #858585;
$color-background: #f1efef;